:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --dark: #5a5c69;
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #7C96E0;
  overflow-x: hidden;
  color: white;
}

*, ::after, ::before {
  box-sizing: border-box;
}

button {
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0;
  cursor: pointer;
}

img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6, h7 {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}